<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Chisel - {{ page_title }}</title>
        <meta name="Author" content="tterrag">
        <link rel="shortcut icon" href="images/favicon.ico" sizes="128x128">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://use.fontawesome.com/7a23674c63.js"></script>
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% include('navbar.twig') %}
        </header>
        <div id="main">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer></footer>
    </body>
</html>
