{% extends 'base.twig' %}

{% block head %}
    <link rel="stylesheet" href="css/home.css"/>
{% endblock %}

{% block content %}
    <h1>Chisel Team</h1>
    <div id="team-members">
        {% for member in team %}
            <div class="member">
                <img class="member-icon" src="{{ member.img }}"/>
                <br>
                {{ member.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
