<script>
    $(document).ready(function() {
        $('html').click(function() {
            $("#builds_list").removeClass('show');
        });

        $("#btn_builds").click(function(event) {
            event.stopPropagation();
            $("#builds_list").toggleClass('show');
            $(this).toggleClass('selected');
        });

        $("#builds_list li").click(function() {
            $("#btn_builds").trigger("click");
        })
    });
</script>
<div id="navbar">
    <a class="navbutton" id="btn_home" href="."><i class="fa fa-home 2x" aria-hidden="true"></i></a>
    <a class="navbutton" id="btn_home" href="http://discord.gg/0vVjLvWg5kyQwnHG"><img height="16" width="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHYAAABWAgMAAABnZYq0AAAACVBMVEUAAB38/Pz///+m8P/9AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhBxwQJhxy2iqrAAABoElEQVRIx7WWzdGEIAyGgcMeKMESrMJ6rILZCiiBg4eYKr/d1ZAfgXFm98sJfAyGNwno3G9sLucgYGpQ4OGVRxQTREMDZjF7ILSWjoiHo1n+E03Aw8p7CNY5IhkYd//6MtO3f8BNhR1QWnarCH4tr6myl0cWgUVNcfMcXACP1hKrGMt8wcAyxide7Ymcgqale7hN6846uJCkQxw6GG7h2MH4Czz3cLqD1zHu0VOXMfZjHLoYvsdd0Q7ZvsOkafJ1P4QXxrWFd14wMc60h8JKCbyQvImzlFjyGoZTKzohwWR2UzSONHhYXBQOaKKsySsahwGGDnb/iYPJw22sCqzirSULYy1qtHhXGbtgrM0oagBV4XiTJok3GoLoDNH8ooTmBm7ZMsbpFzi2bgPGoXWXME6XT+RJ4GLddxJ4PpQy7tmfoU2HPN6cKg+ledKHBKlF8oNSt5w5g5o8eXhu1IOlpl5kGerDxIVT+ztzKepulD8utXqpChamkzzuo7xYGk/kpSYuviLXun5bzdRf0Krejzqyz7Z3p0I1v2d6HmA07dofmS48njAiuMgAAAAASUVORK5CYII="></img></a>
    <a class="navbutton" id="btn_ctm" href="ctm">CTM</a>
    <a class="navbutton" id="btn_chisel" href="chisel">Chisel</a>
    <!-- <div class="dropdown" id="builds_dropdown">
        <a class="navbutton" id="btn_builds" href="#">Builds <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul id="builds_list">
            {% for b in branches %}
                <li><a href="builds?branch={{ b }}">{{ b }}</a></li>
            {% endfor %}
        </ul>
    </div> -->
    <a class="navbutton" id="btn_about" href="about">About</a>
    <a class="navbutton" id="btn_github" href="https://github.com/Chisel-Team"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>
