<div id="navbar">
    <a class="navbutton" href="."><i class="fa fa-home 2x" aria-hidden="true"></i></a>
    <a class="navbutton" href="ctm">CTM</a>
    <a class="navbutton" href="chisel">Chisel</a>
    <a class="navbutton" href="builds">Builds</a>
    <a class="navbutton" href="about">About</a>
</div>
