body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    margin: 0;
}

#main #content {
    max-width: 1000px;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px;
    margin: 40px auto;
    /* I color picked this from the chisel handle, I think it's a good palette
       base color, but I'm not sure where to use it. Do whatever you want :P
    background-color: #E99149; */
    background-color: transparent;
}

/* <center> tags are SO last decade */
.center {
    text-align: center;
}
