h1 {
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background: #DD6400;
	/* Blame inconsistent and non-standard browser semantics. Until the W3C... yeah. */
	background: -moz-linear-gradient(top, #FF8118 0%, #DD6400 100%); 
	background: -webkit-linear-gradient(top, #FF8118 0%,#DD6400 100%);
	background: linear-gradient(to bottom, #FF8118 0%,#DD6400 100%);
}

.build {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

/* These can, and probably should, change */
.build.release {
    background: #60BABA; /* The cyan color, if we wanted to keep that */
	background: #FFAA00;
	background: -moz-linear-gradient(top, #FFC550 0%, #FFAA00 100%); 
	background: -webkit-linear-gradient(top, #FFC550 0%,#FFAA00 100%);
	background: linear-gradient(to bottom, #FFC550 0%,#FFAA00 100%);
}

.build.release:hover {
    background: #6AA; /* The cyan color, if we wanted to keep that */
	background: #FFAA00;
	background: -moz-linear-gradient(top, #FFC550 0%, #FFAA00 100%); 
	background: -webkit-linear-gradient(top, #FFC550 0%,#FFAA00 100%);
	background: linear-gradient(to bottom, #FFC550 0%,#FFAA00 100%);
}

.build.development {
	background: #DD9300;
	background: -moz-linear-gradient(top, #FFAA00 0%, #DD9300 100%); 
	background: -webkit-linear-gradient(top, #FFAA00 0%,#DD9300 100%);
	background: linear-gradient(to bottom, #FFAA00 0%,#DD9300 100%);
}

.build.development:hover {
	background: #DD9300;
	background: -moz-linear-gradient(top, #FFAA00 0%, #DD9300 100%); 
	background: -webkit-linear-gradient(top, #FFAA00 0%,#DD9300 100%);
	background: linear-gradient(to bottom, #FFAA00 0%,#DD9300 100%);
}

.changelog {
	padding: 5px;
	border-radius: 2.5px;
	margin-top: 5px;
}

.build.release .changelog {
	background: #FF9200;
	background: -moz-linear-gradient(top, #F08900 0%, #EF9200 50%); 
	background: -webkit-linear-gradient(top, #F08900 0%,#EF9200 50%);
	background: linear-gradient(to bottom, #F08900 0%,#EF9200 50%);
}

.build.development .changelog {
	background: #D08900;
	background: -moz-linear-gradient(top, #BE7620 0%, #D08900 50%); 
	background: -webkit-linear-gradient(top, #BE7600 0%,#D08900 50%);
	background: linear-gradient(to bottom, #BE7600 0%,#D08900 50%);
}