.build {
    cursor: pointer;
}

.build:hover {
    background: #ddd;
}

/* These can, and probably should, change */
.build.release {
    background: #aaffaa;
}

.build.development {
    background: #ffddaa;
}
